<mat-toolbar color="primary">
    <span>i18n Editor</span>

    <!-- This fills the remaining space of the current row -->
    <span class="frs"></span>
    <button mat-button>Dashboard</button>
    <button mat-button>Contributors</button>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon> Account
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log in</button>
    </mat-menu>
</mat-toolbar>
<div class="main-container">
    <h1>Projects</h1>
    <div class="list-project">
        <mat-card *ngFor="let project of projects">
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <div class="flag"><span class="flag-icon flag-icon-pt flag-icon-squared"></span></div>
            </div>
        </mat-card>
    </div>
</div>